/* Navbar */
#navigation-header {
  width: 100%;
}

#navbar {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#logo {
  width: 20px;
  height: 20px;
}

#navigation-buttons {
  display: flex;
  gap: 10px;
}

.button-login,
#button-signup {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 5px 10px;
  border-radius: var(--navbar-button-radius);
  cursor: pointer;
}

#button-signup {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#language-selector {
  padding: 5px;
  background-color: transparent;
  border: transparent;
}